body {
    background-image: url("https://st4.depositphotos.com/1006075/29707/i/450/depositphotos_297073282-stock-photo-birthday-cake-with-colorful-candles.jpg");
    background-size: cover; 
    background-position: center;
}

